<%= simple_form_for([@post, @post.comments.build]) do |f| %>
  <%= f.error_notification %>

 <div class="form-inputs">
  	<i class="icon-user"></i>
    <%= f.input :name %><br/>

    <i class="icon-comment"></i>
    <%= f.input :content %><br/>

    <%= f.association :post %><br/>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>