<h3>Listing agent_profiles</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Company name</th>
    <th>Company address</th>
    <th>Company url</th>
    <th>About</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @agent_profiles.each do |agent_profile| %>
  <tr>
    <td><%= agent_profile.name %></td>
    <td><%= agent_profile.company_name %></td>
    <td><%= agent_profile.company_address %></td>
    <td><%= agent_profile.company_url %></td>
    <td><%= truncate(agent_profile.about) %></td>
    <td><%= agent_profile.image %></td>
    <td><%= link_to 'Show', agent_profile %></td>
    <td><%= link_to 'Edit', edit_agent_profile_path(agent_profile) %></td>
    <td><%= link_to 'Destroy', agent_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<!--<%= link_to 'New Agent profile', new_agent_profile_path %>-->

<%= link_to "Admin". admin_index_path %>
