<br>
<br>
<h3>Listing events</h3>

<% @events.each do |event| %>

  <div class="container">
    <div class="span12">
      <div class="row">
        <b><%= event.name %></b>
        <%= event.start_at %>
        <%= event.end_at %>
        <%= truncate(event.description) %>
        <%= event.created_at.strftime("%e, %b, %Y") %>
      </div>
    </div>
  </div>
<% end %>

