<br>
<br>
<h3>Listing Events</h3>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Start Date:</b>
  <%= @event.start_at %>
</p>

<!--<p>
  <b>End at:</b>
  <%= @event.end_at %>
</p>-->

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<br />
 
<br>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', calendar_path %>