<h3>Deals</h3>

<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @deals.each do |deal| %>
  <tr>
    <td><%= deal.title %></td>
    <td><%= deal.description %></td>
    <td><%= deal.url %></td>
    <!--<td><%= link_to 'Show', deal %></td>-->
   

<% end %>
</table>

<br />
 <%= link_to 'Create a new Deal', new_deal_path, :class => "btn btn-success" %>

