<%= simple_form_for(@post) do |f| %>
  <% if @post.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited
        this post from being saved:</h2>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.input :name %>
  </div>
  <div class="field">
    <%= f.input:title %>
  </div>
  <div class="field">
    <%= f.input :content, :input_html => { :rows => 3, :class => "tinymce"} %>
  
  </div>

  <div class="actions">
    <%= f.submit :class => "btn btn-success", :style => "color:white;" %>
  </div>
<% end %>