<%= link_to "Holidays in India", root_path, :class => 'brand' %>

<div class="pull-right">
    <ul class="nav">

        <li></i><%= link_to "<i class='icon-map-marker'></i>".html_safe, about_index_path, :alt => "Map", :title => "Attractions", :class => "nav_icon" %></li>
        
        <!--<li><%= link_to "Blog", blog_path %>
        </li>-->
        <li></i><%= link_to "<i class='icon-comments-alt'></i>".html_safe, blog_path, :alt => "Comment", :title => "Blog", :class => "nav_icon" %></li>
      <% if user_signed_in? %>

        <!--<li>
        <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
        </li>-->
        <li></i><%= link_to "<i class='icon-off'></i>".html_safe, destroy_user_session_path, :alt => "Off", :title => "Logout", :class => "nav_icon" %></li>
      <% else %>

        <!--<li>
        <%= link_to 'Login/Sign up', new_user_session_path  %>
        </li>-->
        <li></i><%= link_to "<i class='icon-off'></i>".html_safe, new_user_session_path, :alt => "Off", :title => "Login/Sign up", :class => "nav_icon" %></li>

        <!--<li>
          <%= link_to 'Contact', new_enquiry_path %>
        </li>-->
        <li></i><%= link_to "<i class='icon-pencil'></i>".html_safe, new_enquiry_path, :alt => "Pencil", :title => "Contact", :class => "nav_icon" %></li>

        <li><%= link_to "Events", events_path %></li> 

         <li></i><%= link_to "<i class='icon-heart'></i>".html_safe, deals_path, :alt => "Heart", :title => "Deals", :class => "nav_icon" %></li>
      <% end %>
      <% if user_signed_in? %>
        <li>
        <%= link_to 'Edit account', edit_user_registration_path %>
        </li>
        <% end %>

        <% if current_user.has_role? :admin %>
          <li>
          <%= link_to 'Admin', users_path %>
          </li>
        <% end %>
      <% else %>
    
    </ul>
  </div>
