<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @attraction.name %>
</p>

<p>
  <b>State:</b>
  <%= @attraction.state %>
</p>

<p>
  <b>Country:</b>
  <%= @attraction.country %>
</p>


<%= link_to 'Edit', edit_attraction_path(@attraction) %> |
<%= link_to 'Back', attractions_path %>
